@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "JetBrains Mono";
    src: url("/fonts/JetBrainsMono-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  html {
    font-family: "JetBrains Mono", "Fira Code", "SF Mono", Monaco,
      "Cascadia Code", "Roboto Mono", Consolas, "Courier New", monospace;
    font-size: 16px;
  }

  body {
    @apply bg-slate-900 text-slate-100;
    line-height: 1.7;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  *:focus-visible {
    @apply outline-2 outline-blue-400 outline-offset-2;
  }
}
